#container {
    height: 500px;
    width: 500px;
}

.section {
    display: flex;
}

.grid {
    border: 1px solid black;
    width: 31.25px;
    height: 31.25px;
}

.hovered {
    background-color: purple;
}